#home_link{

  color: white;


}

.video-responsive{
    padding-bottom:56.25%;
    position:relative;
    overflow:hidden;
    height:0;
}
.video-responsive iframe{
    top:0;
    left:0;
    height:100%;
    width:100%;
    position:absolute;
}